body {
	margin: 0;
	padding: 9;
	box-sizing: border-box;
	max-width: 1200px;
	background-image: url("./img/fruits.jpg");
	background-size: 50%;
	margin-left: 20px;
	height: 1500px;
	display: inline-block;
}

h1 {
	font-family: 'Atma', serif;
	font-size: 40px;
}

h2 {
	font-family: 'Amatic SC', cursive;
	font-weight: bolder;
	font-size: 40px;
}

.background-image {
	height: 1000px;
	width: 400px;
	background-image: cover;
}

.container-1 .step-2 {
	padding-bottom: 10px;
	font-size: 20px;
}

.container-1, .container-2, .container-3{
	background-color: #d4ebd0;
	opacity: 0.8;
	margin-top: 10px;
}

.container-1 {
	height: 300px;
	text-align: center;
	padding: 15px 15px 0;
	width: 970px;
	position: absolute;
}

.instructions {
	padding: 10px;
}




.container-2 {
	height: 800px;
	width: 350px;
	text-align: center;
	margin-top: 10px;
	position: relative;
	float: right;
	left: 1020px;
	visibility: collapse;
}

.container-2 h1 {
	padding: 30px;
}

.ingredients-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ingredients {
	padding: 8px 8px;
	font-family: 'Amatic SC', cursive;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: bolder;
	text-align: center;

}




.container-3 h1 {
	text-align: center;
	padding-top: 10px;

}

.container-3 {
	height: 500px;
	width: 1000px;
	margin-top: 150px;
	position: absolute;
	right: 370px;
	top: 170px;
	opacity: 1;
}

.recipe-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: stretch;
	text-align: center;
}

.fruit-recipe{
	margin: 0 auto;
}

.fruit-recipe ul {
	text-align: center;
	list-style: none;
	text-decoration: none;
	padding: 10px;
}

.fruit-recipe ul li {
	padding: 10px;
	font-family: 'Amatic SC', cursive;
	font-size: 22px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 2px;
}

.container-4 {
	position: absolute;
	top: 230px;
	height: 100px;
	width: 300px;
}

.scoreboard {
	text-align: center;
}

table {
	margin: 0 auto;
	padding: 10px;
	border: 1px solid black

}
.row-header {
	margin: 0 auto;
}

.score-count {
	padding: 5px;
	text-align: center;
}